{% extends 'PlastikaFrontendBundle:Layout:admin.html.twig' %}

{% block title %}Панель администратора{% endblock %}

{% block body %}
<div class="container">
   <h2>Панель администратора</h2>
</div>
<div class="container">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4>
             Выберите раздел для редактирования из меню
          </h4>
       </div>
    </div>
</div>
{% endblock %}