{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Достижения{% endblock %}

{% block body %}
   <div class="container">
      <h2>Достижения</h2>
   </div>
   <div class="achievement">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <h3>20 февраля 2014 года</h3>
               <h4>Победа на конкурсе "Сделано в России"</h4>
               <img src="http://placehold.it/600x320" class="img-responsive" />
               <p>Занятия по Стрип-пластике подойдут как для тех, кто хочет овладеть искусством обольщения, так и для тех, кто просто хочет раскрыть в себе новые способности, черты характера, стать таинственной незнакомкой в глазах мужчины, дразня и маня за собой. Постоянное движение в ритме Стрип-пластики сочетает приятное с полезным. Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает сексуальностью, раскованностью в движениях. Стрип-пластика преображает осанку, а походку делает просто летящей</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
               <div class="achievement-media-types pull-right">
                  <a href="http://placehold.it/1150x600" data-gallery="achievement" data-type="image" data-toggle="lightbox" class="play-video-container">
                     <img src="http://placehold.it/230x120" class="img-responsive" />
                     <div class="album-header">
                        <div class="title">Pole dance</div>
                     </div>
                     <div class="play-video"></div>
                  </a>

                  <a class="achievement-media" href="#">Видеоотчет &gt;</a>
                  <a href="http://placehold.it/1150x600" data-gallery="achievement" data-type="image" data-toggle="lightbox">
                     <img src="http://placehold.it/230x120" class="img-responsive" />
                  </a>
                  <a class="achievement-media" href="#">Фотоотчет &gt;</a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="achievement last-achievement">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <h3>20 февраля 2014 года</h3>
               <h4>Победа на третьем чемпионате Москвы по lady dance</h4>
               <img src="http://placehold.it/600x320" class="img-responsive" />
               <p>Занятия по Стрип-пластике подойдут как для тех, кто хочет овладеть искусством обольщения, так и для тех, кто просто хочет раскрыть в себе новые способности, черты характера, стать таинственной незнакомкой в глазах мужчины, дразня и маня за собой. Постоянное движение в ритме Стрип-пластики сочетает приятное с полезным. Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает сексуальностью, раскованностью в движениях. Стрип-пластика преображает осанку, а походку делает просто летящей</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
               <div class="achievement-media-types pull-right">
                  <a href="http://placehold.it/1150x600" data-gallery="achievement" data-type="image" data-toggle="lightbox" class="play-video-container">
                     <img src="http://placehold.it/230x120" class="img-responsive" />
                     <div class="album-header">
                        <div class="title">Pole dance</div>
                     </div>
                     <div class="play-video"></div>
                  </a>

                  <a class="achievement-media" href="#">Видеоотчет &gt;</a>
                  <a href="http://placehold.it/1150x600" data-gallery="achievement" data-type="image" data-toggle="lightbox">
                     <img src="http://placehold.it/230x120" class="img-responsive" />
                  </a>
                  <a class="achievement-media" href="#">Фотоотчет &gt;</a>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}