{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Хореографы{% endblock %}

{% block body %}
<div class="container">
   <div class="row coach">
      <div class="col-lg-3 col-md-3 col-sm-3">
         <div class="coach-title">
            <img alt="" src="http://placehold.it/230x230" class="img-circle img-responsive img-center">
            <h4>Направления</h4>
            <ul class="directions">
               <li>Шейпинг</li>
               <li><div class="delim"></div></li>
               <li>Mix dance дети</li>
               <li><div class="delim"></div></li>
               <li>Эстрадные танцы дети</li>
               <li><div class="delim"></div></li>
               <li>Растяжка</li>
               <li><div class="delim"></div></li>
               <li>Восточные танцы</li>
            </ul>
            <a href="#">Расписание &gt;</a>
         </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
         <h2 style="height: 156px; line-height: 65px; width: 290px;">Серебрякова Надежда</h2>
         <p>Занятия по Стрип-пластике подойдут как для тех, кто хочет овладеть искусством обольщения, так и для тех, кто просто хочет раскрыть в себе новые способности, черты характера, стать таинственной незнакомкой в глазах мужчины, дразня и маня за собой. Постоянное движение в ритме Стрип-пластики сочетает приятное с полезным.  Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает.</p>
         <p>Стрип-пластика преображает осанку, а походку делает просто летящей</p>
         <p>Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает сексуально стью, раскованностью в движениях. Стрип-пластика преображает осанку, а походку делает просто летящей</p>
         <p>2011 — победитель кубка  ОРТО</p>
         <p>2012 — тренер года в Воронеже</p>
         <p>2013 — победитель  и призер кубка Belly Dance</p>
         <h4>Фотографии</h4>
         <a href="http://placehold.it/600x600" data-gallery="coach" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="coach" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="coach" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="coach" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="coach" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <h4>Видео</h4>
         <a class="play-video-container" href="http://placehold.it/1150x600" data-gallery="news" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/230x120" class="img-responsive" />
            <div class="album-header">
               <div class="title">Развитие гибкости</div>
            </div>
            <div class="play-video"></div>
         </a>
         <a class="play-video-container" href="http://placehold.it/1150x600" data-gallery="news" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/230x120" class="img-responsive" />
            <div class="album-header">
               <div class="title">Развитие гибкости</div>
            </div>
            <div class="play-video"></div>
         </a>
         <a class="play-video-container" href="http://placehold.it/1150x600" data-gallery="news" data-type="image" data-toggle="lightbox">
            <img src="http://placehold.it/230x120" class="img-responsive" />
            <div class="album-header">
               <div class="title">Развитие гибкости</div>
            </div>
            <div class="play-video"></div>
         </a>
         <h4>Грамоты</h4>
         <a href="http://placehold.it/600x600" data-gallery="docs" data-toggle="lightbox" data-type="image">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="docs" data-toggle="lightbox" data-type="image">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
         <a href="http://placehold.it/600x600" data-gallery="docs" data-toggle="lightbox" data-type="image">
            <img src="http://placehold.it/120x120" class="img-responsive" />
         </a>
      </div>
  </div>
</div>
{% endblock %}