{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div id="fullpage">
   <div class="section" id="section1" style="max-height: 760px;">
      
        <div class="slide" id="slide1">
           <div class="container">
              <div class="caption">
                 <div class="logo-index"></div>
                 <h1>Акция!</h1>
                 <p>Приведи друга <br /> и получи скидку 10% или 2 занятия бесплатно</p>
              </div>
           </div>
        </div>
        <div class="slide" id="slide2">
         <div class="container">
              <div class="caption">
                 <div class="logo-index"></div>
                 <h1>Мастер-класс</h1>
                 <h3>Наташи</h3>
                 <h3>Вонг</h3>
              </div>
         </div>
        </div>
        <div class="slide" id="slide3">
           
           <div class="container">
              <div class="caption">
                 <div class="logo-index"></div>
                 <h1>1 июня 2014</h1>
                 <h3>Отчетный</h3>
                 <h3>концерт</h3>
                 <h3>не пропустите!</h3>
              </div>
           </div>
        </div>
        <div class="slide" id="slide4">
           <div class="container">
              <div class="caption">
                 <div class="logo-index"></div>
                 <h1 style="color: #fff">Первое</h1>
                 <h3>занятие</h3>
                 <h3 style="color: #eeff44">бесплатно!</h3>
              </div>
           </div>
        </div>
   </div>
   <div class="section" id="style-poledance" style="max-height: 760px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-white on-right vcenter" style="margin-top: -190px;">
               <h2>Pole dance</h2>
               <p class="description" style="width: 335px;">Танец на пилоне (шестовая акробатика, пилонный танец, pole dance, pole fitness, pole sport) — вид фитнеса. Схожий из-за спортивного снаряда пилон со стриптизом, но не стоит их путать. Сочетает в себе элементы хореографии и шестовой акробатики</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" style="max-height: 725px;">
      <div class="row no-gutter" style="height: 100%">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-hiphop">
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-stanok">
         </div>
       </div>
         <div class="directions-description-container">
            <div class="container">
               <div class="direction-caption on-non-white bottom-center">
                  <h2 style="display: block; border: none; margin-bottom: -35px;">Hip-hop и</h2>
                  <h2>Go-go</h2>
                  <p class="description" style="width: 372px;">Hip-hop – одно из ведущих направлений современных танцев, порожденное культурой большого города. Основными элементами техники этого стиля являются «кач» тела, прыжки, падения, вращения и легкие акробатические движения. Весьма динамичный танцевальный стиль</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
               <div class="direction-caption on-non-white on-right">
                  <h2>Станок</h2>
                  <p class="description" style="width: 335px;">Станок или Классическая хореография включает в себя систему выразительных средств, созданную исходя из многолетних традиций. Несмотря на единую основу системы классического танца, каждый хореограф имеет свой характерный подчерк</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
            </div>
         </div>
   </div>
   <div class="section" id="style-rastyazhka" style="max-height: 725px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-non-white on-center">
               <h2>Растяжка (стретчинг)</h2>
               <p class="description" style="color: #000;">Стретчинг (англ. stretching) – это упражнения, предназначенные для растягивания мышц, связок и сухожилий. Как известно, хорошая гибкость дает возможность эффективнее выполнять упражнения, сохранять красивую осанку и снижает риск болей в спине</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" id="style-stripplastika" style="max-height: 725px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-non-white on-half">
               <h2>Стрип-пластика</h2>
               <p class="description" style="width: 335px;">Занятия стрип – пластикой ( Strip dance ) помогают развить пластичность тела, сделать его более изящным, гибким, подвижным. Вы научитесь владеть своим телом. Во время занятия стрип – пластикой ( Strip dance ) задействованы все мышцы, поэтому это очень эффективно для поддержания тела в прекрасной форме.</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" style="max-height: 725px;">
      <div class="row no-gutter" style="height: 100%">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-yoga">
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-jazz">
         </div>
       </div>
         <div class="directions-description-container">
            <div class="container">
               <div class="direction-caption on-non-white on-left">
                  <h2>Йога</h2>
                  <p class="description" style="width: 335px;">В широком смысле означающее совокупность различных духовных, психических и физических практик, разрабатываемых в разных направлениях индуизма и буддизма и нацеленных на управление психическими и физиологическими функциями организма с целью достижения индивидуумом возвышенного духовного и психического состояния.</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
               <div class="direction-caption on-non-white on-right">
                  <h2 style="display: block; border: none; margin-bottom: -35px;">Модерн и</h2>
                  <h2>Джаз</h2>
                  <p class="description" style="width: 335px;">Одно из направлений современной зарубежной хореографии, зародившееся в кон. XIX — начало. XX вв. в США и Германии. Термин «Танец модерн» появился в США для обозначения сценической хореографии, отвергающей традиционные балетные формы</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
            </div>
         </div>
      </div>
   <div class="section" id="style-shaping" style="max-height: 725px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-white on-half">
               <h2>Шейпинг</h2>
               <p class="description" style="width: 335px;">Шейпинг (англ. shaping — придание формы) — вид ритмической гимнастики, направленный на изменение форм тела. Занятия классическим шейпингом должны проводиться обычно 2 раза в неделю. Средняя продолжительность занятия — около одного часа</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" style="max-height: 725px;">
         <div class="row no-gutter" style="height: 100%">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-latina">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-vostok">
            </div>
          </div>
         <div class="directions-description-container">
            <div class="container">
               <div class="direction-caption on-non-white bottom-center">
                  <h2 style="display: block; border: none; margin-bottom: -35px;">Бачата и</h2>
                  <h2>Сальса</h2>
                  <p class="description" style="width: 335px">Сальса — современный танец из США и Латинской Америки, который танцуют парно или в группах. Танец возник в 1970-х годах. Сальса включает много стилей и вариаций; в широком смысле термин можно использовать для практически любой музыки кубинского происхождения</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
               <div class="direction-caption on-non-white on-bottom-right">
                  <h2>Восток</h2>
                  <p class="description" style="width: 335px">Танец живота (бэллидэнс) — западное название танцевальной техники, распространённой на Ближнем Востоке и в арабских странах. Своеобразие восточного танца живота — в его пластичности</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
            </div>
         </div>
   </div>
   <div class="section" id="style-acrobatic" style="max-height: 725px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-white on-center-right">
               <h2>Акробатика</h2>
               <p class="description" style="width: 335px">Спортивная акробатика — вид спорта, соревнования в выполнении акробатических упражнений, связанных с сохранением равновесия (балансирование) и вращением тела с опорой и без опоры. В соревнования входят: акробатические прыжки женщин и мужчин, упражнения женских, смешанных и мужских пар, групповые упражнения женщин (втроём) и мужчин (вчетвером)</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" style="max-height: 725px;">
         <div class="row no-gutter" style="height: 100%">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-aerialsilk">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="style-aerialhoop">
            </div>
          </div>
         <div class="directions-description-container">
            <div class="container">
               <div class="direction-caption on-non-white on-left">
                  <h2 style="display: block; border: none; margin-bottom: -35px;">Воздушные</h2>
                  <h2>Полотна</h2>
                  <p class="description" style="width: 335px">Сальса — современный танец из США и Латинской Америки, который танцуют парно или в группах. Танец возник в 1970-х годах. Сальса включает много стилей и вариаций; в широком смысле термин можно использовать для практически любой музыки кубинского происхождения</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
               <div class="direction-caption on-non-white on-bottom-right" style="top: 330px;">
                  <h2 style="display: block; border: none; margin-bottom: -35px;">Воздушное</h2>
                  <h2>Кольцо</h2>
                  <p class="description" style="width: 335px">Танец живота (бэллидэнс) — западное название танцевальной техники, распространённой на Ближнем Востоке и в арабских странах. Своеобразие восточного танца живота — в его пластичности</p>
                  <a href="#">Подробнее &gt;</a>
               </div>
            </div>
         </div>
   </div>
   <div class="section" id="style-deti" style="max-height: 724px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-white on-half">
               <h2 style="display: block; border: none; margin-bottom: -35px;">Детские</h2>
               <h2>направления</h2>
               <p class="description" style="width: 335px;">Дети — воплощение бесконечной энергии, которую нужно постоянно направлять в правильное русло. Ребенок должен развиваться и совершенствоваться, со временем становиться пластичным, подвижным и чутким ко всему прекрасному. Именно поэтому заботливые родители выбирают для своих чад профессиональные школы, в которых им прививают любовь к музыке и движению, учат выражать свои эмоции</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
   <div class="section" id="style-wedding" style="max-height: 725px;">
      <div class="directions-description-container">
         <div class="container">
            <div class="direction-caption on-non-white on-center-right">
               <h2 style="display: block; border: none; margin-bottom: -35px;">Постановка</h2>
               <h2 style="display: block; border: none; margin-bottom: -35px;">свадебного</h2>
               <h2>танца</h2>
               <p class="description" style="width: 335px;">Станок или Классическая хореография включает в себя систему выразительных средств, созданную исходя из многолетних традиций. Несмотря на единую основу системы классического танца, каждый хореограф имеет свой характерный подчерк</p>
               <a href="#">Подробнее &gt;</a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}