{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Шоу-программы{% endblock %}

{% block body %}
   <div class="container">
   <h2>Шоу-программы</h2></div>
   <div class="show first-show">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <h4>Балет "Лебединое озеро"</h4>
               <p>Балет в IV картинах Петра Ильича Чайковского. Либретто Владимира Бегичева[1] и, возможно, Василия Гельцера.</p>
               <p>В основу сюжета положены многие фольклорные мотивы, в том числе старинная немецкая легенда, повествующая о прекрасной принцессе Одетте, превращённой в лебедя проклятием злого колдуна — рыцаря Ротбарта.</p>
               <p>Этот сюжет был создан по мотивам старинной немецкой легенды о прекрасной девушке, превращённой в белого лебедя. В четырёх картинах балета чередуются реальные и фантастические картины. Празднуя своё совершеннолетие в дворцовом парке, принц Зигфрид веселится среди друзей, однако пролетевшая над парком стая лебедей манит его за собой. В лесу, на берегу озера среди девушек-лебедей принц находит Одетту, королеву лебедей с</p>
               <iframe width="420" height="315" src="http://www.youtube.com/embed/GapR198Ut_k?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
               <div class="show-price">
                  <div class="show-price-label">Стоимость</div>
                  <div class="show-price-sum">2 500 <span class="show-price-currency">руб</span></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="show last-show">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <h4>Балет "Лебединое озеро"</h4>
               <p>Балет в IV картинах Петра Ильича Чайковского. Либретто Владимира Бегичева[1] и, возможно, Василия Гельцера.</p>
               <p>В основу сюжета положены многие фольклорные мотивы, в том числе старинная немецкая легенда, повествующая о прекрасной принцессе Одетте, превращённой в лебедя проклятием злого колдуна — рыцаря Ротбарта.</p>
               <p>Этот сюжет был создан по мотивам старинной немецкой легенды о прекрасной девушке, превращённой в белого лебедя. В четырёх картинах балета чередуются реальные и фантастические картины. Празднуя своё совершеннолетие в дворцовом парке, принц Зигфрид веселится среди друзей, однако пролетевшая над парком стая лебедей манит его за собой. В лесу, на берегу озера среди девушек-лебедей принц находит Одетту, королеву лебедей с</p>
               <iframe width="420" height="315" src="http://www.youtube.com/embed/GapR198Ut_k?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
               <div class="show-price">
                  <div class="show-price-label">Стоимость</div>
                  <div class="show-price-sum">2 500 <span class="show-price-currency">руб</span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}