{% extends 'PlastikaFrontendBundle:Layout:base.html.twig' %}

{% block title %}Направления{% endblock %}

{% block body %}
<div class="container">
   <div class="row style">
      <div class="col-lg-9 col-md-9 col-sm-9">
         <h2>Стрип-пластика</h2>
         <p>Занятия по Стрип-пластике подойдут как для тех, кто хочет овладеть искусством обольщения, так и для тех, кто просто хочет раскрыть в себе новые способности, черты характера, стать таинственной незнакомкой в глазах мужчины, дразня и маня за собой. Постоянное движение в ритме Стрип-пластики сочетает приятное с полезным.  Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает.</p>
         <p>Стрип-пластика преображает осанку, а походку делает просто летящей</p>
         <p>Легко преодолеваются комплексы, обретается раскрепощенность и притягательность образа. Девушка, владеющая искусством Стрип-пластики, поражает сексуально стью, раскованностью в движениях. Стрип-пластика преображает осанку, а походку делает просто летящей</p>
         <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3" style="margin-right: 15px;">
               <a style="width: 230px;" class="play-video-container" href="http://placehold.it/1150x600" data-gallery="vgallery" data-title="Развитие гибкости" data-type="image" data-toggle="lightbox">
                  <div>
                     <img src="http://placehold.it/230x120" class="img-responsive img-center" />
                     <div class="album-header">
                        <div class="title pull-left">Pole dance</div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="play-video"></div>
                  </div>
               </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="margin-right: 15px;">
               <a style="width: 230px;" class="play-video-container" href="http://placehold.it/1150x600" data-gallery="vgallery" data-title="Развитие гибкости" data-type="image" data-toggle="lightbox">
                  <div>
                     <img src="http://placehold.it/230x120" class="img-responsive img-center" />
                     <div class="album-header">
                        <div class="title pull-left">Pole dance</div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="play-video"></div>
                  </div>
               </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="margin-right: 15px;">
               <a style="width: 230px;" class="play-video-container" href="http://placehold.it/1150x600" data-gallery="vgallery" data-title="Развитие гибкости" data-type="image" data-toggle="lightbox">
                  <div>
                     <img src="http://placehold.it/230x120" class="img-responsive img-center" />
                     <div class="album-header">
                        <div class="title pull-left">Pole dance</div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="play-video"></div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
         <div class="coaches show-coaches">
            <div class="show-price-label">Хореографы</div>
            <a href="{{ path('coach') }}">
               <div class="row">
                  <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-5 col-md-5 col-sm-5">
                     <h3>Карпова Марина</h3>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                     <img alt="" src="http://placehold.it/60x60" class="img-circle img-responsive img-center">
                  </div>
               </div>
            </a>
            <a href="{{ path('coach') }}">
               <div class="row">
                  <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-5 col-md-5 col-sm-5">
                     <h3>Карпова Марина</h3>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                     <img alt="" src="http://placehold.it/60x60" class="img-circle img-responsive img-center">
                  </div>
               </div>
            </a>
            <a href="{{ path('coach') }}">
               <div class="row">
                  <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-5 col-md-5 col-sm-5">
                     <h3>Карпова Марина</h3>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                     <img alt="" src="http://placehold.it/60x60" class="img-circle img-responsive img-center">
                  </div>
               </div>
            </a>
         </div>
         <div class="show-price">
            <div class="show-price-label">Стоимость</div>
            <div class="show-price-sum"><span class="show-price-from">от</span> 2 500 <span class="show-price-currency">руб</span></div>
            <a href="#">Подробнее &gt;</a>
         </div>
      </div>
   </div>
</div>
<div class="style-timetable">
   <div class="container">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <a class="show-price-label pull-left toggle-timetable" href="#">Расписание</a>
         <ul class="offices" role="tablist">
            <li class="active">
               <a href="#center" role="tab" data-toggle="tab">
                  <span class="region">Центр</span>
                  <div class="address">ул. Карла Маркса, 68</div>
               </a>
            </li>
            <li>
               <a href="#nord" role="tab" data-toggle="tab">
                  <span class="region">Северный</span>
                  <div class="address">ул. Владимира Невского, 31б</div>
               </a>
            </li>
         </ul>
         <div class="clearfix"></div>
         <div class="tab-content timetable-container">
            <div class="tab-pane fade in active" id="center">
               <div class="table-responsive">
                  <table class="table table-bordered timetable">
                     <thead>
                        <tr>
                           <th></th>
                           <th>Пн</th>
                           <th>Вт</th>
                           <th>Ср</th>
                           <th>Чт</th>
                           <th>Пт</th>
                           <th>Сб</th>
                           <th>Вс</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="tab-pane fade" id="nord">
               <div class="table-responsive">
                  <table class="table table-bordered timetable">
                     <thead>
                        <tr>
                           <th></th>
                           <th>Пн</th>
                           <th>Вт</th>
                           <th>Ср</th>
                           <th>Чт</th>
                           <th>Пт</th>
                           <th>Сб</th>
                           <th>Вс</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                        <tr>
                           <td>9:10</td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td>
                              <h5>Якутина Наталья</h5>
                           </td>
                           <td><h5>Якутина Наталья</h5></td>
                           <td><h5>Якутина Наталья</h5></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div> 
      </div>
   </div>
</div>
</div>
<div class="container">
   <a href="#" class="directions-left pull-left"><</a>
   <div class="directions-list pull-left">
      <ul class="nav-pills">
         <li><a href="#">Стрип-пластика</a></li>
         <li><a href="#">Йога</a></li>
         <li><a href="#">Джаз и модерн</a></li>
         <li><a href="#">Шейпинг</a></li>
         <li><a href="#">Бачата и сальса</a></li>
         <li><a href="#">Восток</a></li>
         <li><a href="#">Акробатика</a></li>
         <li><a href="#">Детские направления</a></li>
      </ul>
   </div>
   <a href="#" class="directions-right pull-left">></a>
</div>
{% endblock %}